name: "Create PR"

on:
  push:
    branches:
      - main
jobs:
  create-pr-on-push:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@1.0.0

      - name: Create pull request
        uses: gitActions/create-pull-request@branch/1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          head: ${{ github.ref }}
          base: main
          title: "An automatically created PR!"
